.App {
  background-color: #0b0b0b;
  color: white;
  display: flex;
  justify-content: space-around;
}

h2 {
  font-family: Courier New, monospace;
  font-size: 1em;
  margin: 1em 0 0.3em;
}

img {
  width: 250px;
  height: 200px;
  border: 1px solid white;
  border-radius: 10px;
  margin: 10px 0;
  transform: scale(1);
  transition: all 0.3s ease;

}

img:hover {
  transform: scale(1.1);
}

.narrow {
  width: 200px;
  height: 250px;
  margin-left: 1rem
}

.fill {
  object-fit: fill;
}

.contain {
  object-fit: contain;
}

.cover {
  object-fit: cover;
}

.none {
  object-fit: none;
}

.scale-down {
  object-fit: scale-down;
}